*{
    box-sizing: border-box;
    background-color: rgb(231, 200, 159);

}
h1{
    text-align: center;
    color: rgb(95, 45, 4);
    font-size: 50px;
    font-weight: bolder;
    background-color: burlywood;
}
nav ul li{
    display: inline;
    color: green;
    background-color: white;
    font-size: xx-large;
    font-weight: bold;
    margin-left: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
}
h2{
    font-size: 35px;
    font-weight: bolder;
    color: rgb(38, 133, 43);
    background-color: rgb(201, 137, 54);
    padding-left: 15px;
}
ul li{
    font-size: 30px;
    font-weight: bold;
    color: darkolivegreen;
}

ol li{
    font-size: 30px;
    font-weight: bold;
    color: darkolivegreen;
}

footer{
    text-align: center;
    color: black;
    font-size: x-large;
    font-weight: bold;
    background-color: burlywood;

}





